name: .NET

on:
  push:
    branches: [ '2.0' ]
  pull_request:
    branches: [ '2.0' ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: |
          3.1.x
          6.0.x
    - name: Restore dependencies
      run: dotnet restore UnitTest
    - name: Build
      run: dotnet build --no-restore UnitTest
    - name: Test
      run: dotnet test --no-build --verbosity normal UnitTest
