name: .NET-Test-7x

on:
  push:
    branches: [ 'master' ]
  pull_request:
    branches: [ 'master' ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: |
          7.0.x
    - name: Restore dependencies
      run: dotnet restore  -p:TargetFramework=net7.0 UnitTest
    - name: Build-7.0
      run: dotnet build --framework net7.0 --no-restore UnitTest
    - name: Test-7.0
      run: dotnet test --framework net7.0 --no-build --verbosity normal UnitTest